{% extends "base.html.twig" %}

{% block topo %}
    <div class="topo">
    <img src="{{ asset('img/foto_perfil_desenho.PNG') }}"
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
{% endblock %}

{% block title %}Cadastro de uusuários{% endblock %}

{# formulario de cadastro de usuario #}
{% block body %}
    <form method="POST" action="">
        <input type="text" name="nome" placeholder="Nome">
        <input type="email" name="email" placeholder="E-mail">

        <button type="submit">Salvar</button>
    </form>
{% endblock %}
